version: '3.8'

services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus_container
    ports:
      - "9090:9090"
    volumes:
      - ./infra/prometheus.yml:/etc/prometheus/prometheus.yml
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - mensageria_net

  grafana:
    image: grafana/grafana
    container_name: grafana_container
    ports:
      - "3003:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - mensageria_net

networks:
  mensageria_net:
    external: true
    name: microservicodenotificacoesewebhooks_mensageria_net 