global:
  scrape_interval: 5s 

scrape_configs:
  - job_name: 'api-gateway'
    static_configs:
      - targets: ['host.docker.internal:3000'] 
    metrics_path: '/metrics'

  - job_name: 'user-service'
    static_configs:
      - targets: ['host.docker.internal:3001']
    metrics_path: '/metrics'

  - job_name: 'notification-service'
    static_configs:
      - targets: ['host.docker.internal:3002'] 
    metrics_path: '/metrics'